.container {
}

.mainAddButton,
.mainAddButton:active,
.mainAddButton:focus {
    display: inline-block;
    outline: none;
    border: none;
    line-height: 1.5;
    background: #df4143;
    border-radius: 8px;
    color: rgb(241, 241, 241);
    font-size: 15px;
    min-width: 115px;
    padding: 18px 32px;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    margin-top: 50px;
    cursor: pointer;
}

.mainAddButton:hover {
    opacity: 0.8;
}
