.container {
    padding: 50px;
    display: flex;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.imgContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

.name {
    font-weight: 500;
    color: crimson;
    font-size: 18px;
}

.total {
    font-weight: 500;
    font-size: 18px;
}

.wrapper {
    width: 90%;
    max-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.totalTextTitle {
    margin-right: 10px;
}

.button,
.button:active,
.button:focus {
    display: inline-block;
    outline: none;
    border: none;
    line-height: 1.5;
    background: #df4143;
    border-radius: 30px;
    color: rgb(241, 241, 241);
    font-size: 15px;
    min-width: 115px;
    padding: 18px 32px;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    margin-top: 20px;
}

.button:hover {
    opacity: 0.8;
}

.payButton,
.payButton:active,
.payButton:focus {
    display: inline-block;
    outline: none;
    border: none;
    line-height: 1.5;
    background: #df4143;
    border-radius: 30px;
    color: rgb(241, 241, 241);
    font-size: 15px;
    min-width: 115px;
    padding: 18px 32px;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.payButton:hover {
    opacity: 0.8;
}

.paymentMethods {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .left {
        flex: 3;
    }
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .wrapper {
        width: 40%;
        text-align: center;
    }
    .table {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 639px) {
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .table tbody {
        width: 80%;
    }
    thead .tr {
        display: none;
    }
    .tbodyTr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border: 1px solid #dadada;
    }
    .name,
    .total {
        font-size: 24px;
    }
    .imgContainer {
        width: 35vw;
        height: 35vw;
        position: relative;
    }
    .extras,
    .price,
    .quantity {
        font-size: 22px;
    }
    .price:before {
        content: 'Price: ';
        font-weight: bold;
    }
    .total:before {
        content: 'Total: ';
        font-weight: bold;
    }
    .wrapper {
        width: 100%;
        align-items: center;
        padding: 20px;
    }
}
